Repository GoGo-Ring/dongoorami-backend, pull requests merged in 2024-02, with the labels that each got.

#3 feat #1: 카카오 로그인 구현
  build.gradle
  src/main/java/com/gogoring/dongoorami/DongooramiApplication.java
  src/main/java/com/gogoring/dongoorami/global/common/BaseEntity.java
  src/main/java/com/gogoring/dongoorami/global/config/RedisConfig.java
  src/main/java/com/gogoring/dongoorami/global/config/SecurityConfig.java
  src/main/java/com/gogoring/dongoorami/global/jwt/CustomUserDetails.java
  src/main/java/com/gogoring/dongoorami/global/jwt/CustomUserDetailsService.java
  src/main/java/com/gogoring/dongoorami/global/jwt/JwtAccessDeniedHandler.java
  src/main/java/com/gogoring/dongoorami/global/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/gogoring/dongoorami/global/jwt/JwtAuthenticationFilter.java
  src/main/java/com/gogoring/dongoorami/global/jwt/TokenProvider.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/CustomOAuth2User.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/CustomOAuth2UserService.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/KakaoUserInfo.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/OAuth2LoginSuccessHandler.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/OAuth2UserInfo.java
  src/main/java/com/gogoring/dongoorami/member/domain/Member.java
  src/main/java/com/gogoring/dongoorami/member/domain/Role.java
  src/main/java/com/gogoring/dongoorami/member/repository/MemberRepository.java
  src/main/java/com/gogoring/dongoorami/member/repository/TokenRepository.java
Labels: feat

#4 feat #2: ci cd 설정
  .github/workflows/CI.yml
  appspec.yml
  scripts/deploy.sh
Labels: feat

#7 docs #6: Rest Docs 설정
  .github/workflows/CI.yml
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/resources/static/docs/api-docs-index.html
  src/main/resources/static/docs/api-docs.html
  src/main/resources/static/docs/index.html
Labels: docs

#5 feat #1: 구글/네이버 소셜 로그인 구현
  src/main/java/com/gogoring/dongoorami/global/common/BaseEntity.java
  src/main/java/com/gogoring/dongoorami/global/config/RedisConfig.java
  src/main/java/com/gogoring/dongoorami/global/config/SecurityConfig.java
  src/main/java/com/gogoring/dongoorami/global/exception/ErrorResponse.java
  src/main/java/com/gogoring/dongoorami/global/jwt/CustomUserDetails.java
  src/main/java/com/gogoring/dongoorami/global/jwt/CustomUserDetailsService.java
  src/main/java/com/gogoring/dongoorami/global/jwt/JwtAccessDeniedHandler.java
  src/main/java/com/gogoring/dongoorami/global/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/gogoring/dongoorami/global/jwt/JwtAuthenticationFilter.java
  src/main/java/com/gogoring/dongoorami/global/jwt/TokenProvider.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/CustomOAuth2User.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/CustomOAuth2UserService.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/KakaoUserInfo.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/OAuth2LoginSuccessHandler.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/OAuth2UserInfo.java
  src/main/java/com/gogoring/dongoorami/member/exception/MemberErrorCode.java
  src/main/java/com/gogoring/dongoorami/member/exception/MemberGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/member/exception/MemberNotFoundException.java
  src/main/java/com/gogoring/dongoorami/member/repository/MemberRepository.java
Labels: feat

#10 feat #8: 토큰 재발급 구현
  .github/workflows/CI.yml
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/global/exception/GlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/global/jwt/CustomUserDetails.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/CustomOAuth2UserService.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberService.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberServiceImpl.java
  src/main/java/com/gogoring/dongoorami/member/domain/Member.java
  src/main/java/com/gogoring/dongoorami/member/dto/request/MemberReissueRequest.java
  src/main/java/com/gogoring/dongoorami/member/dto/response/TokenDto.java
  src/main/java/com/gogoring/dongoorami/member/exception/InvalidRefreshTokenException.java
  src/main/java/com/gogoring/dongoorami/member/exception/MemberErrorCode.java
  src/main/java/com/gogoring/dongoorami/member/exception/MemberGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/member/presentation/MemberController.java
  src/test/java/com/gogoring/dongoorami/config/EmbeddedRedisConfig.java
  src/test/java/com/gogoring/dongoorami/member/presentation/MemberControllerTest.java
  src/test/java/com/gogoring/dongoorami/member/repository/MemberRepositoryTest.java
Labels: feat, test

#13 fix #12: rest-docs html 파일 업데이트 문제 해결
  build.gradle
Labels: fix

#14 feat #11: 로그아웃/탈퇴 구현
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/global/common/BaseEntity.java
  src/main/java/com/gogoring/dongoorami/global/config/SecurityConfig.java
  src/main/java/com/gogoring/dongoorami/global/jwt/CustomUserDetails.java
  src/main/java/com/gogoring/dongoorami/global/jwt/TokenProvider.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberService.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberServiceImpl.java
  src/main/java/com/gogoring/dongoorami/member/dto/request/MemberLogoutAndQuitRequest.java
  src/main/java/com/gogoring/dongoorami/member/presentation/MemberController.java
  src/main/java/com/gogoring/dongoorami/member/repository/MemberRepository.java
  src/main/resources/static/docs/index.html
  src/test/java/com/gogoring/dongoorami/global/config/EmbeddedRedisConfig.java
  src/test/java/com/gogoring/dongoorami/global/customMockUser/WithCustomMockUser.java
  src/test/java/com/gogoring/dongoorami/global/customMockUser/WithCustomMockUserSecurityContextFactory.java
  src/test/java/com/gogoring/dongoorami/member/presentation/MemberControllerTest.java
  src/test/java/com/gogoring/dongoorami/member/repository/MemberRepositoryTest.java
Labels: feat, test

#16 feat #15: 프로필 이미지 수정 구현
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/global/config/S3Config.java
  src/main/java/com/gogoring/dongoorami/global/exception/FailFileUploadException.java
  src/main/java/com/gogoring/dongoorami/global/exception/GlobalErrorCode.java
  src/main/java/com/gogoring/dongoorami/global/exception/GlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/global/exception/InvalidFileExtensionException.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberService.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberServiceImpl.java
  src/main/java/com/gogoring/dongoorami/member/domain/Member.java
  src/main/java/com/gogoring/dongoorami/member/dto/response/MemberUpdateProfileImageResponse.java
  src/main/java/com/gogoring/dongoorami/member/presentation/MemberController.java
  src/test/java/com/gogoring/dongoorami/member/presentation/MemberControllerTest.java
  src/test/resources/김영한.JPG
Labels: feat, test

#18 feat #9: 동행 구인글 생성 및 조회 api 구현
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyPost.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/request/AccompanyPostRequest.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostsResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepository.java
  src/main/java/com/gogoring/dongoorami/global/config/SecurityConfig.java
  src/main/java/com/gogoring/dongoorami/member/exception/MemberGlobalExceptionHandler.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/global/customMockUser/WithCustomMockUser.java
  src/test/java/com/gogoring/dongoorami/global/customMockUser/WithCustomMockUserSecurityContextFactory.java
  src/test/java/com/gogoring/dongoorami/member/presentation/MemberControllerTest.java
  src/test/java/com/gogoring/dongoorami/member/repository/MemberRepositoryTest.java
Labels: feat, test

#19 feat #9: 동행 구인글 생성 시 이미지 업로드 가능하도록 추가
  appspec.yml
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyPost.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/request/AccompanyPostRequest.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/global/exception/GlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/global/util/ImageType.java
  src/main/java/com/gogoring/dongoorami/global/util/S3ImageUtil.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberServiceImpl.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
Labels: feat, refactor, test

#20 feat #17: 프로필 정보 수정/조회 구현
  .github/workflows/CI.yml
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/global/jwt/CustomUserDetails.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberService.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberServiceImpl.java
  src/main/java/com/gogoring/dongoorami/member/domain/Member.java
  src/main/java/com/gogoring/dongoorami/member/dto/request/MemberUpdateRequest.java
  src/main/java/com/gogoring/dongoorami/member/dto/response/MemberInfoResponse.java
  src/main/java/com/gogoring/dongoorami/member/presentation/MemberController.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/global/customMockUser/WithCustomMockUserSecurityContextFactory.java
  src/test/java/com/gogoring/dongoorami/member/presentation/MemberControllerTest.java
Labels: feat, test
