Repository GoGo-Ring/dongoorami-backend, pull requests merged in 2024-03, with the labels that each got.

#23 feat #21: 동행 구인글 상세 조회, 댓글 생성, 전체 댓글 조회 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyComment.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyPost.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/request/AccompanyCommentRequest.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyCommentsResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostsResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/MemberInfo.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyErrorCode.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyNotFoundException.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentRepository.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepository.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
Labels: feat, test

#26 feat #24: 회원 정보 조회/수정 api 수정
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/member/application/MemberService.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberServiceImpl.java
  src/main/java/com/gogoring/dongoorami/member/domain/Member.java
  src/main/java/com/gogoring/dongoorami/member/dto/request/MemberSignupRequest.java
  src/main/java/com/gogoring/dongoorami/member/dto/request/MemberUpdateRequest.java
  src/main/java/com/gogoring/dongoorami/member/dto/response/MemberInfoResponse.java
  src/main/java/com/gogoring/dongoorami/member/exception/AlreadySignUpException.java
  src/main/java/com/gogoring/dongoorami/member/exception/MemberErrorCode.java
  src/main/java/com/gogoring/dongoorami/member/exception/MemberGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/member/presentation/MemberController.java
  src/main/resources/static/docs/index.html
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/member/presentation/MemberControllerTest.java
Labels: feat, test

#25 feat #21: 동행구인글 수정, 삭제 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyPost.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyErrorCode.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyPostNotFoundException.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/OnlyWriterCanModifyException.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/global/util/S3ImageUtil.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
Labels: feat, test

#28 feat #21: 동행 구인글 작성, 수정, 단건 조회 api 수정
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyPost.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/request/AccompanyPostRequest.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyErrorCode.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/InvalidAccompanyPurposeTypeException.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
Labels: feat, refactor, test

#32 feat #31: cors 테스트용 임시 api 구현 및 permitAll 설정
  build.gradle
  src/main/java/com/gogoring/dongoorami/global/config/SecurityConfig.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/OAuth2LoginSuccessHandler.java
  src/main/java/com/gogoring/dongoorami/member/presentation/TestController.java
  src/main/resources/templates/test.html
Labels: feat

#37 feat #36: 회원가입 api에 닉네임 필드 추가
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/member/application/MemberService.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberServiceImpl.java
  src/main/java/com/gogoring/dongoorami/member/domain/Member.java
  src/main/java/com/gogoring/dongoorami/member/dto/request/MemberSignUpRequest.java
  src/main/java/com/gogoring/dongoorami/member/presentation/MemberController.java
  src/test/java/com/gogoring/dongoorami/member/presentation/MemberControllerTest.java
Labels: feat, test

#38 feat #9: 동행구인글 조회 필터링 기능 추가 및 동행구인글 지역 목록 조회 api 추가
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyPost.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/request/AccompanyPostFilterRequest.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/request/AccompanyPostRequest.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyErrorCode.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/IncompleteAgeException.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/InvalidAccompanyRegionTypeException.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/InvalidAgeRangeException.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostCustomRepository.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostCustomRepositoryImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepository.java
  src/main/java/com/gogoring/dongoorami/global/config/QueryDslConfig.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/member/repository/MemberRepositoryTest.java
Labels: feat, test

#40 feat #9: 특정 멤버 정보 조회 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyCommentsResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/MemberProfile.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
Labels: feat, test

#39 feat #22: 외부 api 호출을 통한 공연 정보 등록 구현
  build.gradle
  src/main/java/com/gogoring/dongoorami/DongooramiApplication.java
  src/main/java/com/gogoring/dongoorami/concert/domain/Concert.java
  src/main/java/com/gogoring/dongoorami/concert/exception/ConcertErrorCode.java
  src/main/java/com/gogoring/dongoorami/concert/exception/ConcertGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/concert/exception/ConcertNotFoundException.java
  src/main/java/com/gogoring/dongoorami/concert/kopis/KopisHttpInterface.java
  src/main/java/com/gogoring/dongoorami/concert/kopis/KopisService.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertRepository.java
  src/main/java/com/gogoring/dongoorami/global/config/RestClientConfig.java
Labels: feat

#46 refactor #45: member 필드 중 name, nickname 명확화
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostsResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/MemberProfile.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/CustomOAuth2UserService.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/OAuth2LoginSuccessHandler.java
  src/main/java/com/gogoring/dongoorami/global/oauth2/OAuth2UserInfo.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberServiceImpl.java
  src/main/java/com/gogoring/dongoorami/member/domain/Member.java
  src/main/java/com/gogoring/dongoorami/member/dto/request/MemberUpdateRequest.java
  src/main/java/com/gogoring/dongoorami/member/dto/response/MemberInfoResponse.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/global/customMockUser/WithCustomMockUser.java
  src/test/java/com/gogoring/dongoorami/global/customMockUser/WithCustomMockUserSecurityContextFactory.java
  src/test/java/com/gogoring/dongoorami/member/presentation/MemberControllerTest.java
  src/test/java/com/gogoring/dongoorami/member/repository/MemberRepositoryTest.java
Labels: refactor, test

#44 feat #42: 동행구인글 댓글 수정 삭제 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyComment.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyErrorCode.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyPostCommentNotFoundException.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentRepository.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepositoryTest.java
Labels: feat, test

#47 feat #41: 공연 후기 작성 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertService.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertServiceImpl.java
  src/main/java/com/gogoring/dongoorami/concert/domain/Concert.java
  src/main/java/com/gogoring/dongoorami/concert/domain/ConcertReview.java
  src/main/java/com/gogoring/dongoorami/concert/dto/request/ConcertReviewCreateRequest.java
  src/main/java/com/gogoring/dongoorami/concert/kopis/KopisService.java
  src/main/java/com/gogoring/dongoorami/concert/presentation/ConcertController.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertRepository.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertReviewRepository.java
  src/test/java/com/gogoring/dongoorami/concert/presentation/ConcertControllerTest.java
  src/test/java/com/gogoring/dongoorami/concert/repository/ConcertRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/global/util/TestDataUtil.java
  src/test/java/com/gogoring/dongoorami/member/presentation/MemberControllerTest.java
  src/test/java/com/gogoring/dongoorami/member/repository/MemberRepositoryTest.java
Labels: feat, test

#49 feat #41: 공연 후기 목록 조회 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertService.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertServiceImpl.java
  src/main/java/com/gogoring/dongoorami/concert/dto/response/ConcertReviewGetResponse.java
  src/main/java/com/gogoring/dongoorami/concert/dto/response/ConcertReviewsGetResponse.java
  src/main/java/com/gogoring/dongoorami/concert/presentation/ConcertController.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertReviewRepository.java
  src/test/java/com/gogoring/dongoorami/concert/presentation/ConcertControllerTest.java
  src/test/java/com/gogoring/dongoorami/concert/repository/ConcertReviewRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/global/util/TestDataUtil.java
Labels: feat, test

#52 feat #41: 공연 후기 수정/삭제 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertService.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertServiceImpl.java
  src/main/java/com/gogoring/dongoorami/concert/domain/ConcertReview.java
  src/main/java/com/gogoring/dongoorami/concert/dto/request/ConcertReviewRequest.java
  src/main/java/com/gogoring/dongoorami/concert/exception/ConcertErrorCode.java
  src/main/java/com/gogoring/dongoorami/concert/exception/ConcertGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/concert/exception/ConcertReviewModifyDeniedException.java
  src/main/java/com/gogoring/dongoorami/concert/exception/ConcertReviewNotFoundException.java
  src/main/java/com/gogoring/dongoorami/concert/presentation/ConcertController.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertReviewRepository.java
  src/test/java/com/gogoring/dongoorami/concert/domain/ConcertReviewTest.java
  src/test/java/com/gogoring/dongoorami/concert/presentation/ConcertControllerTest.java
  src/test/java/com/gogoring/dongoorami/concert/repository/ConcertReviewRepositoryTest.java
Labels: feat, test

#51 feat #43: 동행 신청 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyComment.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/request/AccompanyCommentRequest.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyCommentsResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyApplyCommentModificationNotAllowedException.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyApplyNotAllowedForWriterException.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyErrorCode.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/DuplicatedAccompanyApplyException.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentRepository.java
  src/test/java/com/gogoring/dongoorami/accompany/AccompanyDataFactory.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/concert/presentation/ConcertControllerTest.java
  src/test/java/com/gogoring/dongoorami/concert/repository/ConcertRepositoryTest.java
Labels: feat, test

#57 refactor, feat #55: 동행 구인글 작성 api 수정 및 키워드 기반 공연 목록 조회 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyComment.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyPost.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/request/AccompanyPostRequest.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostsResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyApplyCommentModifyDeniedException.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyErrorCode.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AlreadyEndedConcertException.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostCustomRepositoryImpl.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertService.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertServiceImpl.java
  src/main/java/com/gogoring/dongoorami/concert/domain/Concert.java
  src/main/java/com/gogoring/dongoorami/concert/dto/response/ConcertInfoResponse.java
  src/main/java/com/gogoring/dongoorami/concert/presentation/ConcertController.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertRepository.java
  src/test/java/com/gogoring/dongoorami/accompany/AccompanyDataFactory.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/concert/presentation/ConcertControllerTest.java
  src/test/java/com/gogoring/dongoorami/concert/repository/ConcertRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/global/util/TestDataUtil.java
Labels: feat, refactor, test

#60 feat #53: 공연 조회 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertService.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertServiceImpl.java
  src/main/java/com/gogoring/dongoorami/concert/domain/Concert.java
  src/main/java/com/gogoring/dongoorami/concert/dto/response/ConcertGetResponse.java
  src/main/java/com/gogoring/dongoorami/concert/dto/response/ConcertGetShortResponse.java
  src/main/java/com/gogoring/dongoorami/concert/dto/response/ConcertInfoResponse.java
  src/main/java/com/gogoring/dongoorami/concert/dto/response/ConcertsGetShortResponse.java
  src/main/java/com/gogoring/dongoorami/concert/presentation/ConcertController.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertCustomRepository.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertCustomRepositoryImpl.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertRepository.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertReviewRepository.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/concert/ConcertDataFactory.java
  src/test/java/com/gogoring/dongoorami/concert/domain/ConcertReviewTest.java
  src/test/java/com/gogoring/dongoorami/concert/domain/ConcertTest.java
  src/test/java/com/gogoring/dongoorami/concert/presentation/ConcertControllerTest.java
  src/test/java/com/gogoring/dongoorami/concert/repository/ConcertRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/concert/repository/ConcertReviewRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/global/util/TestDataUtil.java
  src/test/java/com/gogoring/dongoorami/member/MemberDataFactory.java
  src/test/java/com/gogoring/dongoorami/member/presentation/MemberControllerTest.java
  src/test/java/com/gogoring/dongoorami/member/repository/MemberRepositoryTest.java
Labels: feat, test

#63 feat #62: 찜하기 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/global/common/BaseEntity.java
  src/main/java/com/gogoring/dongoorami/wish/application/WishService.java
  src/main/java/com/gogoring/dongoorami/wish/application/WishServiceImpl.java
  src/main/java/com/gogoring/dongoorami/wish/domain/Wish.java
  src/main/java/com/gogoring/dongoorami/wish/dto/response/WishGetResponse.java
  src/main/java/com/gogoring/dongoorami/wish/dto/response/WishesGetResponse.java
  src/main/java/com/gogoring/dongoorami/wish/exception/AlreadyWishedException.java
  src/main/java/com/gogoring/dongoorami/wish/exception/WishErrorCode.java
  src/main/java/com/gogoring/dongoorami/wish/exception/WishGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/wish/exception/WishNotFoundException.java
  src/main/java/com/gogoring/dongoorami/wish/presentation/WishController.java
  src/main/java/com/gogoring/dongoorami/wish/repository/WishCustomRepository.java
  src/main/java/com/gogoring/dongoorami/wish/repository/WishCustomRepositoryImpl.java
  src/main/java/com/gogoring/dongoorami/wish/repository/WishRepository.java
  src/test/java/com/gogoring/dongoorami/wish/WishDataFactory.java
  src/test/java/com/gogoring/dongoorami/wish/domain/WishTest.java
  src/test/java/com/gogoring/dongoorami/wish/presentation/WishControllerTest.java
  src/test/java/com/gogoring/dongoorami/wish/repository/WishRepositoryTest.java
Labels: feat, test

#65 feat #50: 리뷰 대상자 조회 및 리뷰 작성 api 구현, 매너 지수 계산 로직 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyReview.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/request/AccompanyReviewRequest.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyErrorCode.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/AccompanyGlobalExceptionHandler.java
  src/main/java/com/gogoring/dongoorami/accompany/exception/InvalidRatingItemTypeException.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyReviewRepository.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberServiceImpl.java
  src/main/java/com/gogoring/dongoorami/member/domain/Member.java
  src/test/java/com/gogoring/dongoorami/accompany/AccompanyDataFactory.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyReviewRepositoryTest.java
Labels: feat, test

#67 refactor #56: 사용자 인증 불필요한 api 접근 허용 설정
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertServiceImpl.java
  src/main/java/com/gogoring/dongoorami/concert/dto/response/ConcertReviewGetResponse.java
  src/main/java/com/gogoring/dongoorami/concert/presentation/ConcertController.java
  src/main/java/com/gogoring/dongoorami/global/config/SecurityConfig.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/concert/presentation/ConcertControllerTest.java
Labels: refactor

#68 feat #66: 동행 후기 상태 및 동행 구인글 상태 변경 로직 추가
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyPost.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyReview.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentRepository.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyReviewRepository.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertServiceImpl.java
  src/main/java/com/gogoring/dongoorami/concert/domain/Concert.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyReviewRepositoryTest.java
Labels: feat, test

#72 feat #64: 마이페이지 후기 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyReview.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/ReviewResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/ReviewsResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepository.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyReviewCustomRepository.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyReviewCustomRepositoryImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyReviewRepository.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertService.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertServiceImpl.java
  src/main/java/com/gogoring/dongoorami/concert/presentation/ConcertController.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertCustomRepositoryImpl.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertReviewRepository.java
  src/main/java/com/gogoring/dongoorami/wish/repository/WishCustomRepositoryImpl.java
  src/test/java/com/gogoring/dongoorami/accompany/AccompanyDataFactory.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyReviewRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/concert/presentation/ConcertControllerTest.java
  src/test/java/com/gogoring/dongoorami/concert/repository/ConcertReviewRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/member/MemberDataFactory.java
Labels: feat, test

#74 feat #69: 쪽지 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/message/application/MessageService.java
  src/main/java/com/gogoring/dongoorami/message/application/MessageServiceImpl.java
  src/main/java/com/gogoring/dongoorami/message/domain/Message.java
  src/main/java/com/gogoring/dongoorami/message/dto/request/MessageRequest.java
  src/main/java/com/gogoring/dongoorami/message/dto/response/MessageResponse.java
  src/main/java/com/gogoring/dongoorami/message/dto/response/MessagesResponse.java
  src/main/java/com/gogoring/dongoorami/message/presentation/MessageController.java
  src/main/java/com/gogoring/dongoorami/message/repository/MessageCustomRepository.java
  src/main/java/com/gogoring/dongoorami/message/repository/MessageCustomRepositoryImpl.java
  src/main/java/com/gogoring/dongoorami/message/repository/MessageRepository.java
  src/test/java/com/gogoring/dongoorami/member/MemberDataFactory.java
  src/test/java/com/gogoring/dongoorami/message/MessageDataFactory.java
  src/test/java/com/gogoring/dongoorami/message/presentation/MessageControllerTest.java
  src/test/java/com/gogoring/dongoorami/message/repository/MessageRepositoryTest.java
Labels: feat, test

#75 feat #71: 특정 회원이 받은 후기 조회 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
Labels: feat, test

#76 feat #64: 마이페이지 작성글/댓글 조회 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyCommentShortResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyCommentsShortResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostShortResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostsShortResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentCustomRepository.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentCustomRepositoryImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentRepository.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostCustomRepository.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostCustomRepositoryImpl.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyCommentRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepositoryTest.java
Labels: feat, test

#78 feat #77: 사진 목록 조회 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertService.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertServiceImpl.java
  src/main/java/com/gogoring/dongoorami/concert/dto/response/ConcertGetImagesResponse.java
  src/main/java/com/gogoring/dongoorami/concert/presentation/ConcertController.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertRepository.java
  src/main/java/com/gogoring/dongoorami/global/config/SecurityConfig.java
  src/test/java/com/gogoring/dongoorami/concert/presentation/ConcertControllerTest.java
  src/test/java/com/gogoring/dongoorami/concert/repository/ConcertRepositoryTest.java
Labels: feat, test

#80 feat #73: 특정 공연에 대한 동행 구인글 목록 조회 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyService.java
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostConcertResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/response/AccompanyPostsConcertResponse.java
  src/main/java/com/gogoring/dongoorami/accompany/presentation/AccompanyController.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostCustomRepository.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostCustomRepositoryImpl.java
  src/main/java/com/gogoring/dongoorami/global/config/SecurityConfig.java
  src/test/java/com/gogoring/dongoorami/accompany/presentation/AccompanyControllerTest.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepositoryTest.java
Labels: feat, test

#81 feat #79: 키워드 기반 동행 구인글/공연 통합 검색 api 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/gogoring/dongoorami/accompany/application/AccompanyServiceImpl.java
  src/main/java/com/gogoring/dongoorami/accompany/domain/AccompanyComment.java
  src/main/java/com/gogoring/dongoorami/accompany/dto/request/AccompanyCommentRequest.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostCustomRepository.java
  src/main/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostCustomRepositoryImpl.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertService.java
  src/main/java/com/gogoring/dongoorami/concert/application/ConcertServiceImpl.java
  src/main/java/com/gogoring/dongoorami/concert/dto/response/AccompanyPostsAndConcertsResponse.java
  src/main/java/com/gogoring/dongoorami/concert/dto/response/ConcertReviewGetResponse.java
  src/main/java/com/gogoring/dongoorami/concert/presentation/ConcertController.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertCustomRepository.java
  src/main/java/com/gogoring/dongoorami/concert/repository/ConcertCustomRepositoryImpl.java
  src/main/java/com/gogoring/dongoorami/global/config/SecurityConfig.java
  src/main/java/com/gogoring/dongoorami/member/application/MemberServiceImpl.java
  src/main/java/com/gogoring/dongoorami/member/domain/Member.java
  src/test/java/com/gogoring/dongoorami/accompany/repository/AccompanyPostRepositoryTest.java
  src/test/java/com/gogoring/dongoorami/concert/presentation/ConcertControllerTest.java
  src/test/java/com/gogoring/dongoorami/concert/repository/ConcertRepositoryTest.java
Labels: feat, test
